.logoWrapper {
  display: inline-flex;
}

.logoLight {
  display: block !important;
}
.logoDark {
  display: none !important;
}

:global(.dark) .logoLight {
  display: none !important;
}
:global(.dark) .logoDark {
  display: block !important;
}
